.back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #eee;
}

.imgDiv {
  position: relative;
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px; /* ajuste conforme necessário */
  z-index: 10;
}

.content {
  position: relative;
  top: -70px; /* sobe a div sobre a imagem */
  z-index: 20; /* garante que fique acima da imagem */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: rgba(28, 29, 31, 1);
  width: 91%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
}

.search {
  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
  background-image: url("Search.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 40px;
  background-color: #282b30;
  color: #94979b;
  outline: none;
  border: none;
  border-radius: 15px;
  height: 40px;
  width: 300px;
}

.config {
  font-weight: bold;
  width: 150px;
  margin-left: 30px;
}
.sort {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

#idioma {
  height: 30px;
  border-radius: 10px;
  color: #94979b;
  background-color: rgba(28, 29, 31, 255);
  margin-top: 10px;
}

.region {
  display: flex;
  flex-direction: column;
}

.regionSelec {
  border-radius: 20px;
  color: #94979b;
  background-color: transparent;
  margin-top: 10px;
}

.countries {
  position: relative;
  bottom: 130px;
  margin-left: 20%;
  max-height: 800px;
  overflow: auto;
  scrollbar-width: none;
}

table {
  border-collapse: separate;
  border-spacing: 100px 0; /* 16px nas laterais, 0px vertical */
}

td {
  padding-top: 40px;
  padding-left: 12px;
  padding-right: 12px;
}

.regionSelec.active {
  background-color: #53565c;
  color: white;
}
